{% extends "base.html" %}
{% block content %}
<h1>Page d'accueil</h1>

<p>Bienvenue dans la page de l'alerte du cluster page hi h.html</p>
{% if  request.user.is_admin %}

	<a href={% url 'identifiant:signup' %}> sign up </a>
    
	<a href={% url 'identifiant:logout' %}> logout </a>

{% endif %}






{% if  request.user.is_introducteur %}

	<a href={% url 'identifiant:login' %}> login </a>

	<!--<a href={% url 'identifiant:create' %}> create </a>-->
<a href={% url 'identifiant:logout' %}> logout </a>
	<p>listes des introducteur d'information</p>

{% endif %}

<a href={% url 'identifiant:signup' %}> sign up </a>

<a href={% url 'identifiant:login' %}> login </a>


{% endblock content %}