{% extends "base.html" %}
{% block  content %}
<p>Medecin en Attente de Validation</p>
{% for elt in Medecin %}
    {% if elt.is_superuser  %}
	{% else %}
	<p>
		{% if elt.is_attente %}
		<p><a href=" {% url  'identifiant:DetailMedecin'  elt.id %} ">{{elt}}</a> Joined on: {{elt.date_joined}}</p>
		
		{% endif %}
	</p>
	{% endif %}
{% endfor %}
<hr>
<p>Medecin Validé</p>
{% for elt in Medecin %}
    {% if elt.is_superuser  %}
	{% else %}
	<p>
		{% if elt.is_Medecin %}
		<p><a href=" {% url  'identifiant:DetailMedecin'  elt.id %} ">{{elt}}</a> Joined on: {{elt.date_joined}}</p>
		
		{% endif %}
	</p>
	{% endif %}
{% endfor %}
{% endblock content %}